body {
	display: none;
}

.navbar-brand i {
	margin-right: 16px;
}

.groupBy,
.groupBy:hover td {
	background: #F6F6F6;
}

tbody .recipient {
	font-weight: bold;
}

tbody .status {
}

@media only screen and (max-width: 458px) {
	.navbar-brand {
		display: none;
	}
}
