body {
	display: none;
}

.scanned td {
	background: #C0FFB4;
}

.scanned:hover td {
	background: #A7E69B;
}

.navbar-brand i {
	margin-right: 16px;
}

.groupBy,
.groupBy:hover td {
	background: #F6F6F6;
}

@media only screen and (max-width: 458px) {
	.navbar-brand {
		display: none;
	}
}
