body {
	background: #111111;
}

#content {
	width: 80%;
	min-width: 500px;
	max-width: 700px;
	margin: 0 auto;
	font-family: monospace;
	font-weight: 500;
	font-size: 1.1em;
	color: #111111;
}

#view {
	width: 100%;
}

.status-ok {
	background: #5CB85C;
}

.status-warn {
	background: #F0AD4E;
}

.status-error {
	background: #D9534F;
}

.customer  { font-weight: bold; }
.category  { text-align: right; }
.barcode   { text-align: right; }
.status    { text-align: right; }

#view th,
#view td {
	padding: 4px 15px;
}

#view thead tr {
	text-align: left;
	font-weight: 700;
	font-size: 1.25em;
	color: #FFFFFF;
	text-shadow: 1px 0 0 #000, 0 -1px 0 #000,
	             0 1px 0 #000, -1px 0 0 #000;
}

#view tbody tr {
	border-bottom: 0px;
}

#view tbody tr:last-of-type {
	border-bottom: 0px;
}
